# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Debugging
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Log files
*.log
*.tlog

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS files
.vs/
*.ncb
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcproj.*
*.vcxproj.*

# build artifacts
Debug/
Release/

# Project complete placeholder
done.txt

# Exclude Alan Liu's old git repo
kamyu104/